{
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "semi": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "cursorOffset": -1,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": false,
  "singleQuote": false
}
